@font-face {
  font-family: OutfitRegular;
  src: url(fonts/Gabarito-Regular.ttf);
}

@font-face {
  font-family: OutfitBold;
  src: url(fonts/Outfit-ExtraBold.ttf);
}

@font-face {
  font-family: Skyfall;
  src: url(fonts/SkyFall\ Done.ttf);
}

@font-face {
  font-family: Noyh;
  src: url(fonts/Noyh.otf);
}

:root {
  --tiny-text-size: 0.5vw;
  --smaller-text-size: 1vw;
  --small-text-size: 2vw;
  --big-text-size: 6vw;
  --navbar-padding-top: 1vw;
  --navbar-padding-bottom: 0vw;
  --navbar-row-gap: 1vw;

  /* --theme-color: #b5ad08; */
  --theme-color: lightgreen;
  --shadow-color: rgba(5, 5, 20, 1);
  --gap-5vw: 5vw;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    :root {
      --tiny-text-size: 0.75vw;
      --smaller-text-size: 1.5vw;
      --small-text-size: 3vw;
      --big-text-size: 7vw;
      --navbar-padding-top: 3vw;
      --navbar-padding-bottom: 2vw;
      --navbar-row-gap: 2vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    :root {
      --tiny-text-size: 1vw;
      --smaller-text-size: 2vw;
      --small-text-size: 4vw;
      --big-text-size: 8vw;
      --navbar-padding-top: 5vw;
      --navbar-padding-bottom: 4vw;
      --navbar-row-gap: 3vw;
      /* --gap-5vw: 0; */
    }
    /* img[style] {
      width: fill !important;
    } */
}

@media screen and (max-width: 400px) {
    :root {
      --tiny-text-size: 1.25vw;
      --smaller-text-size: 2.5vw;
      --small-text-size: 5vw;
      --big-text-size: 9vw;
      --navbar-padding-top: 7vw;
      --navbar-padding-bottom: 6vw;
      --navbar-row-gap: 4vw;
      /* --gap-5vw: 0; */
    }
    /* img[style] {
      width: fill !important;
    } */
}

.navbar {
  position: sticky;
  padding-top: var(--navbar-padding-top);
  top: -1vw;
  padding-bottom: var(--navbar-padding-bottom);
  background-color: #171826;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: var(--navbar-row-gap);
  z-index: 9999;
}

* {
  scroll-behavior: smooth;
  scrollbar-color: white #171826;
  scrollbar-width: thin;
  /* scrollbar-width: none; */
  transition: all 0.1s ease-out;
}

html {
  background-color: #171826;
}

b {
    font-family: OutfitBold !important;
}

img {
  image-rendering: optimizeQuality;
  vertical-align: bottom;
  stroke-width: 2;
  stroke-color: white;

  object-fit: cover;
}

.move-view {
  display: block;
  margin:auto;
  max-width: 90%;
  max-height: 80vh;
}

.move-view:hover {
  /* transition-duration: 0s; */
  cursor: pointer;
  transform: scale(1.05);
  z-index: 99999;
}

.move-view:active {
  transform: scale(1);
}

/* .move-view:active {
  transition-duration: 0s;
  transform: scale(1) translate(-50%, -50%);
  max-width: none;
  max-height: none;
  position:fixed;
  top:50%;
  left:50%;
  width: 90vw;
  height: 90vh;
  object-fit: contain;
  z-index: 99999;
} */

.move-nowhere:hover {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 999;

  opacity: 1;

  box-shadow: 0vw 1vw 2vw var(--shadow-color);
}

.move-nowhere:active {
  transform: scale(1.3) translateY(10%);
  opacity: 0.5;
}

.move-right:hover {
  cursor: pointer;
  transform: scale(1.5) translateX(12%);
  box-shadow: 0vw 1vw 2vw var(--shadow-color);
}

.move-left:hover {
  cursor: pointer;
  transform: scale(1.5) translateX(-12%);
  box-shadow: 0vw 1vw 2vw var(--shadow-color);
}

.move-right:active {
  transform: scale(1.3) translateX(12%) translateY(10%);
  opacity: 0.5;
}

.move-left:active {
  transform: scale(1.2) translateX(-12%) translateY(10%);
  opacity: 0.5;
}

.move-nowhere:hover .image-text {
  opacity: 1;
}

.move-right:hover .image-text {
  opacity: 1;
}

.move-left:hover .image-text {
  opacity: 1;
}

.image-text {
  font-family: OutfitRegular;
  font-size: var(--smaller-text-size);
  color: white;
  text-decoration: none;
  text-align: center;
  opacity: 0;
  text-shadow: 0 0 5px black;
}

.small {
    font-family: OutfitRegular;
    font-size: 48px;
    font-size: var(--small-text-size);
    color: white;
    margin: 20px;
    margin: 1vw;
    text-decoration: none;
    text-align: center;
}

.tiny {
  font-size: var(--tiny-text-size);
}

.paragraph {
    font-family: OutfitRegular;
    font-size: 48px;
    font-size: var(--small-text-size);
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 4vw;
    text-decoration: none;
    text-align: left;
}

.link {
    font-family: OutfitRegular;
    font-size: 48px;
    font-size: var(--small-text-size);
    color: white;
    fill: white;
    margin: 20px;
    margin: 1vw;
    text-decoration: none;
    position: relative;
    top: 0px;
    cursor: pointer;
    user-select: none;
}

.link:hover {
    color: var(--theme-color);
    fill: var(--theme-color)
}

.link:active {
  transform: scale(0.9) translateY(10%);
  opacity: 0.5;
}

.navbar-current {
    font-family: OutfitRegular;
    font-size: 48px;
    font-size: var(--small-text-size);
    color: var(--theme-color);
    fill: var(--theme-color);
    margin: 20px;
    margin: 1vw;
    text-decoration: none;
    position: relative;
    top: 0px;

    cursor: pointer;
    user-select: none;
}

.navbar-current:hover {
    color: white;
    fill: white;
}

.navbar-current:active {
  transform: scale(0.9) translateY(10%);
  opacity: 0.5;
}

.inline-link {
    color: var(--theme-color);
    text-decoration: none;
    position: relative;
    top: 0px;
}

.inline-link:hover {
    color: white;
}

.inline-link:active {
  top: 0.3vw;
  font-size: 1.8vw;
  opacity: 0.5;
}

.btn {
  color: white;
  text-shadow: 0 0 5px black;
  text-decoration: none;
  position: relative;
  top: 0px;
  font-size: 4vh;
  user-select: none;
  cursor: pointer;
}

.btn-right {
  color: white;
  text-shadow: 0 0 5px black;
  text-decoration: none;
  position: relative;
  top: 0px;
  font-size: 4vh;
  user-select: none;
  cursor: pointer;
}

.btn-left {
  color: white;
  text-shadow: 0 0 5px black;
  text-decoration: none;
  position: relative;
  top: 0px;
  font-size: 4vh;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  color: var(--theme-color);
  transform: scale(1.2);
}

.btn:active {
  transform: scale(0.8);
  opacity: 0.5;
}

.btn-right:hover {
  color: var(--theme-color);
  transform: scale(1.2);
}

.btn-right:active {
  transform: scale(0.8) translate(-1vw, 0);
  opacity: 0.5;
}

.btn-left:hover {
  color: var(--theme-color);
  transform: scale(1.2);
}

.btn-left:active {
  transform: scale(0.8) translate(1vw, 0);
  opacity: 0.5;
}

.big {
    font-family: Noyh;
    font-size: 96px;
    font-size: var(--big-text-size);
    color: white;
    scroll-margin-top: calc(1lh + var(--navbar-padding-bottom));
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
}

h2 {
  font-family: Noyh;
  font-size: 3vw;
  color: white;
  scroll-margin-top: 0.6lh;
  text-align: left;
  padding-left: 5vw;
}

.gallery {
  display: flex;
  justify-content: space-around;
  row-gap: var(--gap-5vw);
  align-items: center;
  flex-wrap: wrap;
  padding-right: var(--gap-5vw);
  padding-left: var(--gap-5vw);
}

.image-card {
  width : 100%;
  height : 100%;
  object-fit : cover;
  object-position: center;
  flex-grow: 1;
}

.centralized-column {
  display: flex;
  flex-direction: column;
  position:relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-at-the-bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes jiggle-left-keyframes {
  0% { transform: translateX(-2vw); opacity: 0.5; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes jiggle-right-keyframes {
  0% { transform: translateX(2vw); opacity: 0.5; }
  100% { transform: translateX(0); opacity: 1; }
}

.jiggle-right {
  animation: jiggle-right-keyframes 0.2s ease-in-out;
}

.jiggle-left {
  animation: jiggle-left-keyframes 0.2s ease-in-out;
}

.dot {
    height: fit-content;
    font-family: OutfitRegular;
    font-size: var(--smaller-text-size);
    color: white;
    margin-right: 1vw;
    margin-left: 1vw;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.dot:hover {
    transform: scale(1.1);
    color: var(--theme-color);
}

.dot:active {
  transform: scale(0.9);
  opacity: 0.5;
}

.dot-current {
    font-family: OutfitRegular;
    font-size: var(--small-text-size);
    color: var(--theme-color);
    margin-right: 1vw;
    margin-left: 1vw;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    vertical-align:middle;
}

.dot-current:hover {
    transform: scale(1.1);
    color: white;
}

.dot-current:active {
  transform: scale(0.9);
  opacity: 0.5;
}

.hidden {
  display: none;
}